<a href="https://colab.research.google.com/github/DawnTheDataAnalyst/PortfolioProjects/blob/main/Copy_of_School_District.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as mp
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data Analyst Task MAP Data  - II (1).csv")

In [ ]:
dataset.head()

,TermName,DistrictName,SchoolName,Student ID,Student Ethnic Group,Student Gender,Grade,Grade Group,MeasurementScale,Discipline,...,ProjectedProficiencyStudy6,ProjectedProficiencyLevel6,ProjectedProficiencyStudy7,ProjectedProficiencyLevel7,ProjectedProficiencyStudy8,ProjectedProficiencyLevel8,ProjectedProficiencyStudy9,ProjectedProficiencyLevel9,ProjectedProficiencyStudy10,ProjectedProficiencyLevel10
0,Winter 2019-2020,The Kindezi School,The Kindezi School West Lake,1134568,Black or African American,F,8,Middle,Reading,Reading,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Winter 2019-2020,The Kindezi School,The Kindezi School West Lake,1134569,Black or African American,M,5,Elementary,Reading,Reading,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Winter 2019-2020,The Kindezi School,The Kindezi School West Lake,1011717,Black or African American,M,8,Middle,Reading,Reading,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Winter 2019-2020,The Kindezi School,The Kindezi School West Lake,1014941,Black or African American,M,8,Middle,Reading,Reading,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Winter 2019-2020,The Kindezi School,The Kindezi School West Lake,1015038,Black or African American,F,8,Middle,Reading,Reading,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797 entries, 0 to 796
Columns: 133 entries, TermName to ProjectedProficiencyLevel10
dtypes: float64(81), int64(12), object(40)
memory usage: 828.3+ KB

In [ ]:
column_names = dataset.columns
column_names[:70]

Index(['TermName', 'DistrictName', 'SchoolName', 'Student ID',
       'Student Ethnic Group', 'Student Gender', 'Grade', 'Grade Group',
       'MeasurementScale', 'Discipline', 'NormsReferenceData',
       'WISelectedAYFall', 'WISelectedAYWinter', 'WISelectedAYSpring',
       'WIPreviousAYFall', 'WIPreviousAYWinter', 'WIPreviousAYSpring',
       'TestType', 'TestName', 'TestStartDate', 'TestDurationMinutes',
       'TestRITScore', 'TestStandardError', 'TestPercentile',
       '**Abs Test percentile Group', 'FallToFallProjectedGrowth',
       'FallToFallObservedGrowth', 'FallToFallObservedGrowthSE',
       'FallToFallMetProjectedGrowth', 'FallToFallConditionalGrowthIndex',
       'FallToFallConditionalGrowthPercentile', 'FallToWinterProjectedGrowth',
       'FallToWinterObservedGrowth', 'FallToWinterObservedGrowthSE',
       'FallToWinterMetProjectedGrowth', '**Met Fall to Winter Growth?',
       'Fall winter growth?', 'Met target 1=yes or o?',
       'FallToWinterConditionalGrowthIndex',
       'FallToWinterConditionalGrowthPercentile',
       'FallToSpringProjectedGrowth', 'FallToSpringObservedGrowth',
       'FallToSpringObservedGrowthSE', 'FallToSpringMetProjectedGrowth',
       'FallToSpringConditionalGrowthIndex',
       'FallToSpringConditionalGrowthPercentile',
       'WinterToWinterProjectedGrowth', 'WinterToWinterObservedGrowth',
       'WinterToWinterObservedGrowthSE', 'WinterToWinterMetProjectedGrowth',
       'WinterToWinterConditionalGrowthIndex',
       'WinterToWinterConditionalGrowthPercentile',
       'WinterToSpringProjectedGrowth', 'WinterToSpringObservedGrowth',
       'WinterToSpringObservedGrowthSE', 'WinterToSpringMetProjectedGrowth',
       'WinterToSpringConditionalGrowthIndex',
       'WinterToSpringConditionalGrowthPercentile',
       'SpringToSpringProjectedGrowth', 'SpringToSpringObservedGrowth',
       'SpringToSpringObservedGrowthSE', 'SpringToSpringMetProjectedGrowth',
       'SpringToSpringConditionalGrowthIndex',
       'SpringToSpringConditionalGrowthPercentile', 'RITtoReadingScore',
       'RITtoReadingMin', 'RITtoReadingMax', 'Goal1Name', 'Goal1RitScore',
       'Goal1StdErr'],
      dtype='object')

In [ ]:
dataset.isnull().sum()

TermName                         0
DistrictName                     0
SchoolName                       0
Student ID                       0
Student Ethnic Group             0
                              ...
ProjectedProficiencyLevel8     797
ProjectedProficiencyStudy9     797
ProjectedProficiencyLevel9     797
ProjectedProficiencyStudy10    797
ProjectedProficiencyLevel10    797
Length: 133, dtype: int64

In [ ]:
dataset.shape

(797, 133)

In [ ]:
unempty_cols = [i for i, x in enumerate(column_names) if not dataset[x].isnull().sum() > 0]
print('How many columns have data? ', len(unempty_cols))
unempty_cols

How many columns have data?  42

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 103,
 104,
 116,
 117]

In [ ]:
analysis_ds = dataset.iloc[:, unempty_cols]
analysis_ds.shape

(797, 42)

In [ ]:
analysis_ds.head()

,TermName,DistrictName,SchoolName,Student ID,Student Ethnic Group,Student Gender,Grade,Grade Group,MeasurementScale,Discipline,...,Goal2Adjective,Goal3Name,Goal3RitScore,Goal3StdErr,Goal3Range,Goal3Adjective,TestStartTime,PercentCorrect,TypicalWinterToWinterGrowth,TypicalWinterToSpringGrowth
0,Winter 2019-2020,The Kindezi School,The Kindezi School West Lake,1134568,Black or African American,F,8,Middle,Reading,Reading,...,HiAvg,Vocabulary Acquisition and Use,233,5.8,227-239,High,9:13:10,51,2,1
1,Winter 2019-2020,The Kindezi School,The Kindezi School West Lake,1134569,Black or African American,M,5,Elementary,Reading,Reading,...,High,Vocabulary Acquisition and Use,220,5.9,214-226,HiAvg,7:50:52,51,4,2
2,Winter 2019-2020,The Kindezi School,The Kindezi School West Lake,1011717,Black or African American,M,8,Middle,Reading,Reading,...,Avg,Vocabulary Acquisition and Use,221,5.9,215-227,Avg,9:08:53,51,2,1
3,Winter 2019-2020,The Kindezi School,The Kindezi School West Lake,1014941,Black or African American,M,8,Middle,Reading,Reading,...,Low,Vocabulary Acquisition and Use,212,5.7,206-218,LoAvg,10:30:27,51,4,2
4,Winter 2019-2020,The Kindezi School,The Kindezi School West Lake,1015038,Black or African American,F,8,Middle,Reading,Reading,...,High,Vocabulary Acquisition and Use,241,5.9,235-247,High,13:24:10,56,2,1

In [ ]:
dataset['NormsReferenceData'].describe()

count     797.0
mean     2015.0
std         0.0
min      2015.0
25%      2015.0
50%      2015.0
75%      2015.0
max      2015.0
Name: NormsReferenceData, dtype: float64

In [ ]:
dataset.describe()

,Student ID,NormsReferenceData,WISelectedAYFall,WISelectedAYWinter,WISelectedAYSpring,WIPreviousAYFall,WIPreviousAYWinter,WIPreviousAYSpring,TestDurationMinutes,TestRITScore,...,ProjectedProficiencyStudy6,ProjectedProficiencyLevel6,ProjectedProficiencyStudy7,ProjectedProficiencyLevel7,ProjectedProficiencyStudy8,ProjectedProficiencyLevel8,ProjectedProficiencyStudy9,ProjectedProficiencyLevel9,ProjectedProficiencyStudy10,ProjectedProficiencyLevel10
count,7.970000e+02,797.0,751.0,797.000000,0.0,0.0,351.0,0.0,797.000000,797.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.089181e+06,2015.0,4.0,16.823087,NaN,NaN,22.0,NaN,60.244668,187.884567,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,9.420979e+04,0.0,0.0,0.381835,NaN,NaN,0.0,NaN,34.972123,26.045895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.076570e+05,2015.0,4.0,16.000000,NaN,NaN,22.0,NaN,8.000000,118.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.068536e+06,2015.0,4.0,17.000000,NaN,NaN,22.0,NaN,32.000000,167.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.091116e+06,2015.0,4.0,17.000000,NaN,NaN,22.0,NaN,55.000000,190.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.106365e+06,2015.0,4.0,17.000000,NaN,NaN,22.0,NaN,81.000000,209.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.456789e+06,2015.0,4.0,17.000000,NaN,NaN,22.0,NaN,223.000000,247.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataset[column_names[:25]].nunique()

TermName                         1
DistrictName                     1
SchoolName                       3
Student ID                     788
Student Ethnic Group             5
Student Gender                   2
Grade                            9
Grade Group                      2
MeasurementScale                 1
Discipline                       1
NormsReferenceData               1
WISelectedAYFall                 1
WISelectedAYWinter               2
WISelectedAYSpring               0
WIPreviousAYFall                 0
WIPreviousAYWinter               1
WIPreviousAYSpring               0
TestType                         1
TestName                         3
TestStartDate                    6
TestDurationMinutes            142
TestRITScore                   111
TestStandardError               13
TestPercentile                  99
**Abs Test percentile Group      5
dtype: int64

Review and analyze reading dataset
Prepare a slide deck of 5 slides - max
network and school level data breakouts
performance trends, including any disproportionality or equity concerns

In [ ]:
for col in column_names:
  print('Column Name', col)
  print(dataset[col].value_counts(),'\n')

In [ ]:
analysis_ds.iloc[0]

TermName                                     Winter 2019-2020
DistrictName                               The Kindezi School
SchoolName                       The Kindezi School West Lake
Student ID                                            1134568
Student Ethnic Group                Black or African American
Student Gender                                              F
Grade                                                       8
Grade Group                                            Middle
MeasurementScale                                      Reading
Discipline                                            Reading
NormsReferenceData                                       2015
WISelectedAYWinter                                         17
TestType                                    Survey With Goals
TestName                           Growth: Reading 6+ GA 2015
TestStartDate                                       12/2/2019
TestDurationMinutes                                       130
TestRITScore                                              228
TestStandardError                                         3.2
TestPercentile                                             73
**Abs Test percentile Group                             61-80
RITtoReadingScore                                       1230L
RITtoReadingMin                                         1130L
RITtoReadingMax                                         1280L
Goal1Name                                          Literature
Goal1RitScore                                             224
Goal1StdErr                                               5.6
Goal1Range                                            218-230
Goal1Adjective                                          HiAvg
Goal2Name                                  Informational Text
Goal2RitScore                                             226
Goal2StdErr                                               5.7
Goal2Range                                            220-232
Goal2Adjective                                          HiAvg
Goal3Name                      Vocabulary Acquisition and Use
Goal3RitScore                                             233
Goal3StdErr                                               5.8
Goal3Range                                            227-239
Goal3Adjective                                           High
TestStartTime                                         9:13:10
PercentCorrect                                             51
TypicalWinterToWinterGrowth                                 2
TypicalWinterToSpringGrowth                                 1
Name: 0, dtype: object

In [ ]:
analysis_ds[['Grade Group', 'Grade']].value_counts()

Grade Group  Grade
Elementary   5        131
             1        123
             K        111
             4        107
             2        106
             3         95
Middle       6         69
             8         29
             7         26
dtype: int64

In [ ]:
for i in range(len(unempty_cols)):
  print()
  print(analysis_ds.iloc[:, i].value_counts(), '\n')

Winter 2019-2020    797
Name: TermName, dtype: int64


The Kindezi School    797
Name: DistrictName, dtype: int64


The Kindezi School West Lake    392
The Kindezi School O4W          264
Kindezi Gideons                 141
Name: SchoolName, dtype: int64


1096311    3
1053611    2
1096561    2
1086791    2
1116311    2
          ..
1077418    1
1077413    1
1077448    1
1077459    1
3456789    1
Name: Student ID, Length: 788, dtype: int64


Black or African American    758
White                         21
Multi-ethnic                  10
Hispanic or Latino             6
Asian                          2
Name: Student Ethnic Group, dtype: int64


M    435
F    362
Name: Student Gender, dtype: int64


5    131
1    123
K    111
4    107
2    106
3     95
6     69
8     29
7     26
Name: Grade, dtype: int64


Elementary    673
Middle        124
Name: Grade Group, dtype: int64


Reading    797
Name: MeasurementScale, dtype: int64


Reading    797
Name: Discipline, dtype: int64


2015    797
Name: NormsReferenceData, dtype: int64


17    656
16    141
Name: WISelectedAYWinter, dtype: int64


Survey With Goals    797
Name: TestType, dtype: int64


Growth: Reading 2-5 GA 2015    401
Growth: Reading K-2 GA 2015    272
Growth: Reading 6+ GA 2015     124
Name: TestName, dtype: int64


12/9/2019    410
12/3/2019    155
12/2/2019    144
12/4/2019     62
12/5/2019     16
12/6/2019     10
Name: TestStartDate, dtype: int64


31     17
34     16
60     15
18     14
45     13
       ..
176     1
133     1
145     1
134     1
159     1
Name: TestDurationMinutes, Length: 142, dtype: int64


203    18
195    16
219    14
192    14
211    14
       ..
238     1
233     1
247     1
132     1
122     1
Name: TestRITScore, Length: 111, dtype: int64


3.3    313
3.2    292
3.4    100
3.5     53
3.1     24
3.6      4
3.7      3
3.9      2
3.8      2
4.2      1
4.3      1
4.6      1
4.0      1
Name: TestStandardError, dtype: int64


1     21
73    19
51    19
16    17
28    16
      ..
84     3
46     3
52     3
74     1
49     1
Name: TestPercentile, Length: 99, dtype: int64


1-20      184
41-60     163
21-40     163
61-80     150
81-100    137
Name: **Abs Test percentile Group, dtype: int64


BR400L    55
725L      18
565L      16
505L      14
890L      14
          ..
1395L      2
1435L      1
1615L      1
1455L      1
1330L      1
Name: RITtoReadingScore, Length: 96, dtype: int64


BR400L    92
625L      18
465L      16
405L      14
790L      14
          ..
1295L      2
1335L      1
1355L      1
1515L      1
1230L      1
Name: RITtoReadingMin, Length: 91, dtype: int64


BR400L    29
775L      18
615L      16
1100L     14
940L      14
          ..
1400L      2
1665L      1
1485L      1
1505L      1
1380L      1
Name: RITtoReadingMax, Length: 99, dtype: int64


Literature             525
Foundational Skills    272
Name: Goal1Name, dtype: int64


199    20
210    16
213    15
190    15
169    15
       ..
248     1
245     1
262     1
241     1
141     1
Name: Goal1RitScore, Length: 114, dtype: int64


5.7     118
5.8     109
5.9      75
6.0      54
5.6      46
6.6      42
6.7      41
6.5      40
6.1      40
6.4      38
6.2      37
6.8      33
6.3      26
5.5      25
6.9      24
7.0      10
7.1       8
7.3       5
7.2       3
7.5       3
8.0       3
8.4       2
10.5      2
7.8       2
10.8      2
7.7       2
14.3      1
8.2       1
7.6       1
8.5       1
8.3       1
7.4       1
7.9       1
Name: Goal1StdErr, dtype: int64


204-216    16
207-219    15
193-205    15
184-196    14
215-227    14
           ..
245-266     1
134-150     1
206-222     1
132-146     1
153-166     1
Name: Goal1Range, Length: 228, dtype: int64


Low      190
LoAvg    170
Avg      155
HiAvg    146
High     136
Name: Goal1Adjective, dtype: int64


Informational Text      525
Language and Writing    272
Name: Goal2Name, dtype: int64


218    15
203    15
212    14
198    14
177    14
       ..
125     1
249     1
239     1
244     1
140     1
Name: Goal2RitScore, Length: 121, dtype: int64


5.8     115
5.7     110
5.9      72
6.6      63
5.6      60
6.5      60
6.0      55
6.7      44
6.1      42
6.4      27
6.8      26
6.2      22
6.3      22
6.9      19
7.0      17
5.5      16
7.1       6
7.3       3
7.5       3
7.2       3
7.9       3
7.8       2
7.6       2
7.7       1
8.9       1
7.4       1
10.7      1
8.0       1
Name: Goal2StdErr, dtype: int64


212-224    15
197-209    15
192-204    12
206-218    12
207-219    11
           ..
169-180     1
195-206     1
243-255     1
195-209     1
133-145     1
Name: Goal2Range, Length: 230, dtype: int64


Low      187
Avg      170
LoAvg    166
HiAvg    138
High     136
Name: Goal2Adjective, dtype: int64


Vocabulary Acquisition and Use        525
Reading Literary and Informational    272
Name: Goal3Name, dtype: int64


192    20
207    16
204    15
193    15
183    14
       ..
124     1
259     1
131     1
136     1
120     1
Name: Goal3RitScore, Length: 117, dtype: int64


5.8     113
5.7     108
5.9      70
6.0      56
5.6      53
6.5      49
6.1      49
6.6      42
6.7      42
6.4      35
6.8      32
6.2      28
6.3      28
5.5      21
6.9      21
7.0      18
7.1       8
7.7       3
7.3       3
7.2       3
10.5      3
7.5       3
7.9       2
7.8       2
10.4      1
8.4       1
7.6       1
10.6      1
7.4       1
Name: Goal3StdErr, dtype: int64


186-198    19
201-213    15
202-214    14
188-200    14
210-222    12
           ..
176-191     1
187-198     1
138-150     1
204-215     1
141-154     1
Name: Goal3Range, Length: 241, dtype: int64


Low      194
HiAvg    155
LoAvg    154
Avg      149
High     145
Name: Goal3Adjective, dtype: int64


8:55:51     4
8:55:50     4
8:29:56     4
10:07:23    3
13:21:11    3
           ..
8:54:54     1
13:35:19    1
10:23:49    1
14:46:24    1
8:47:49     1
Name: TestStartTime, Length: 710, dtype: int64


51    171
49    122
53     84
56     80
54     75
46     59
44     39
47     21
58     21
41     15
59     14
60     11
50     11
48     11
55      7
43      7
61      7
45      6
39      6
63      4
37      3
40      3
77      2
33      2
84      2
36      2
23      2
34      1
66      1
80      1
75      1
18      1
86      1
42      1
38      1
27      1
35      1
Name: PercentCorrect, dtype: int64


5     59
4     59
6     47
7     47
8     47
9     46
2     43
14    43
13    42
11    41
12    39
15    38
10    38
3     33
16    30
22    29
23    22
17    19
20    16
21    16
18    14
19    13
25     8
24     6
26     1
27     1
Name: TypicalWinterToWinterGrowth, dtype: int64


8     160
2     116
3     103
4      97
5      70
1      68
7      60
6      56
9      48
10     14
11      4
12      1
Name: TypicalWinterToSpringGrowth, dtype: int64